.clientCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;

    section.clientCard{
        border: 1px solid $border-muted;
        box-shadow: 0 0 0 0 $border-muted;
        transition: all 0.6s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 30%;
        min-width: 269px;
        padding: 8px;
        gap: 12px;
        cursor: pointer;
    
        section{
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: start;

            .riveCard{
              position: relative;
              overflow: hidden;                
              display: flex;
              justify-content: center;
              place-items: center;
              height: 220.141px;

              canvas{
                  border-radius: 100px;
                  animation: floatAnimation 15s ease-in-out infinite;
                  // border: 3px solid hotpink;
              }
              
              @keyframes floatAnimation {
                0% {
                  transform: translateY(0) rotate(0deg);
                }
                10% {
                  transform: translateY(-5px) rotate(-2deg);
                }
                20% {
                  transform: translateY(3px) rotate(3deg);
                }
                30% {
                  transform: translateY(-2px) rotate(-1deg);
                }
                40% {
                  transform: translateY(4px) rotate(2deg);
                }
                50% {
                  transform: translateY(0) rotate(0deg);
                }
                60% {
                  transform: translateY(-4px) rotate(2deg);
                }
                70% {
                  transform: translateY(2px) rotate(-3deg);
                }
                80% {
                  transform: translateY(5px) rotate(1deg);
                }
                90% {
                  transform: translateY(-3px) rotate(-2deg);
                }
                100% {
                  transform: translateY(0) rotate(0deg);
                }
              }

              .riveWave{
                position: absolute;
                width: 640px;
                z-index: -1;
                height: 270px;
              }

              @media (max-width: 950px) {
                .riveWave{
                  height: 450px;
                  width: 750px;
                }
              }
            }

            img{

                &.product{
                    width: 100%;
                    border: 1px solid $border-muted;
                }

                &.branding{
                    height: auto;
                    margin-bottom: 16px;

                    &[class*="cequence"]{
                        width: 108px;
                    }
                    
                    &.quest{
                        width: 145px;
                    }

                    &.mie{
                        width: 145px;
                    }                    
                }
            }

            > div{
                label, span, a, svg{transition: all 0.6s ease-in-out;}

                label{
                    color: $text-weak;
                    font-size: .8rem;
                }

                span{
                    color: $text-medium;
                    font-size: .9rem;

                    svg{
                        height: .75rem;
                        color: $text-weak;
                    }
                }
            }          
        }
        /*clientCard Hover */
        &:hover{
            box-shadow: 2px 5px 4px -2px $border-muted;

            div{

                label{
                    color: $text-medium;
                }
                
                span{
                    color: $text-strong;

                    a, svg{
                        color: $text-hover;
                    }
                }
            }                
        }
        /*section.clientcard*/
        @include respond-to('medium') {
            width: 100%;
        }        
    }
}