$white: #fff;
$black: #000;

$background-muted: #f5f5f5;

$primary-blue: #C1EFF8;
$secondary-blue: #20BFE3;
$accent-blue-light: #D5F3FA;
$accent-blue-medium: #ADE9F6;
$accent-blue-dark: #99E3F3;

$text-strong: #393333;
$text-medium: #7A7A7A;
$text-weak: #AFAFAF;
$text-hover: #20BFE3;

$icon-muted: #E4E4E4;
$icon-selected: #FFD166;
