section.titleCard{
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: $text-strong;
    text-align: start;

    div{
        display: flex;
        place-items: center;
        gap: 12px;

        h1{
            font-weight: 300;
            margin: 0;
            width: 100%;
        }

        svg{
            color: $text-weak;
            transition: color 0.6s ease-in-out;

            &:hover{
                color: $text-hover;
                cursor: pointer;
            }
        }
    }  

    span{
        color: $text-weak;
        font-size: 1.3em;
        font-weight: 300;
    }  

    @include respond-to('small') {
        gap: 0;
    }
}