/* Product Styles */
/* Layout */
* {
  font-family: 'Noto Sans', sans-serif; }

.App > section {
  margin: 0 auto;
  max-width: 1200px; }

Header {
  background: #C1EFF8;
  height: 20px; }

/* Components */
titleCard {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  color: #393333;
  text-align: start;
  margin: 0 20px; }

titleCard h1 {
  font-weight: 300;
  margin: 0; }

titleCard span {
  color: #AFAFAF;
  font-size: 1.3em;
  font-weight: 300; }

@media (max-width: 632px) {
  titleCard {
    margin-top: 20px;
    gap: 0; } }
